<p id="notice"><%= notice %></p>
<div class="col-sm-6 pull-right">
<p>
  <strong>Shopping Order Id:</strong>
  <%= @packing_job.shoppingOrder_id %>
</p>
<%= render 'layouts/shopGrid' %>
</div>




<div class="col-sm-6">
<p>
  <strong>Packer :</strong>


  <% if @packing_job.customer_id==0%>
  	Packing is complete

	<% elsif @packing_job.customer_id != nil %>
	  <%user = User.find(@packing_job.customer_id)%>
	  <%=user.name%>
	  <% end %>
	</p>
	

<% @shopping_order = ShoppingOrder.find(@packing_job.shoppingOrder_id)%>
<% @currentuser = User.find(current_user.id)%>
<%if @shopping_order.currentStatus == 'Submited' && !current_user.is_admin? %>
<%= form_for(@shopping_order) do |f| %>
<%= f.hidden_field :currentStatus , :value => 'Currently Packing' %>
			<div class="actions">
			    <%= f.submit "Start the packing", :class => "btn btn-success not-yet-shipped hidden" %>
			  </div>
			<% end %>

			<% else %>
			<div class="alert alert-warning text-center">
	<h4>Items are Orderd for optimal packing please stay with the order that is shown (follow by Index for Packing)</h4>
	<h6>The larger/heavier/non-fragile items will be shown on the top as they are first to be packed</h6>
</div>


<table>
	<tr>
		<th>Index for Packing</th>
		<th>Quantity</th>
		<th style="padding-left:20px; padding-right:20px;">Title</th>
		<th></th>
		
		
	</tr>
<%counter=0%>
<% @packingitems=@shopping_order.lineitems.sort {|a,b| b.sortingMethod(b)  <=> a.sortingMethod(a)}%>
<% @packingitems.each do |litem| %> 
<tr>
	<%counter+=1%>
	<% location = Location.find(litem.item.locationId) %>
	<td> <%= counter %> <i style= "padding: 7px;" class=" <%= location.lat%>-<%=location.lon%>-glass fa fa-search"></i></td>

<td><%= litem.quantity %> &times;</td>
 <td style="padding-left:20px; padding-right:20px;">
  <%= litem.item.title %>
 </td> 

<td style= "padding-right: 20px;"><%= number_to_currency(litem.item.price * litem.quantity, :unit => '€' ) %></td>
<td>
	<% if litem.packed %>
	<strong>Packed</strong>

		<% else %>
		
			<%= form_for(litem) do |f| %>
			<%= f.hidden_field :packed , :value => '1' %>
			<div class="actions">
			    <%= f.submit "Pack Item", :class => "btn btn-primary not-yet-processed disabled" %>
			  </div>
			<% end %>
		
<% itemDis = Item.find(litem.item_id) %>

<script  type="text/javascript">
	jQuery(document).ready(function($) {
      var str ='.'+ <%= location.lat %> + '-' + <%= location.lon %>;
      
      $(str).css({"background-color": "green"});
      $(str).click(function() {
        alert(' Item Name: <%= litem.item.title %>' + "\n" + "Item Quantity: " +  <%= litem.quantity %> + "\n" + "Item Weight: " +  <%= litem.item.weight %>);
      });
      strglass =str + "-glass";
      $(strglass).click(function() {
        $(str).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
      });
      });
	

	</script>
		<% end %>
</td>


</tr>
<% end %> 
</table>


<%= form_for(@shopping_order) do |f| %>
<%= f.hidden_field :currentStatus , :value => 'Shipped' %>
			<div class="actions">
			    <%= f.submit "Ship the order", :class => "btn btn-success not-yet-shipped hidden" %>
			  </div>
			<% end %>
<%= form_for(@packing_job) do |form| %>
<div class="field">
    <%= form.hidden_field :customer_id , :value => 0 %>
  </div>
  <div class="actions">
			    <%= form.submit "Complete Packing", :class => "btn btn-success not-yet-shipped hidden" %>
			  </div>
<% end %>

<%end%>
<script  type="text/javascript">
	jQuery(document).ready(function($) {
      
	if ( $( ".not-yet-processed" ).length ) {
 
    	
 
	}
	else{
		$( ".not-yet-shipped" ).removeClass("hidden");
		
	}

	$( ".not-yet-processed:first" ).removeClass("disabled");
});

	</script>

</div>



