

<%= form_for(@shopping_order) do |f| %>
  <% if @shopping_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_order.errors.count, "error") %> prohibited this shopping_order from being saved:</h2>

      <ul>
      <% @shopping_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  

    
  <table style="width:100%;">
   <% @cart = Cart.find(session[:cart_id])%>
   <% @total=0 %>
    <% @cart.lineitems.each do |litem| %> <tr>
    <td><%= litem.quantity %> &times;</td> 
    <td><%= litem.item.title %></td> 
    <td><%= number_to_currency(litem.item.price, :unit => '€' )  %></td>
    <td><strong> Total: <%= number_to_currency(litem.item.price*litem.quantity, :unit => '€' )  %></strong></td>
    <td><%= link_to  litem, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-times"></i> Remove
        <% end %>
        <% @total = @total + (litem.item.price*litem.quantity) %>
    </tr>
    <% end %> 
  </table>

   
    <%= f.hidden_field :total , :value => @total ,:readonly => true%>
  <div class="col-sm-12 ">
    <div class="text-center" style="margin-top:20px;">
  <div class="stripe-button">
  <%= form_tag  do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@total, :unit => '€' )  %></span>
    </label>
  </article>
  <div class="field">
    <strong>Payment Method:</strong>
    <%= f.select :payMethod , ["Debit Card", "Credit Card"] %> </div>
<p>&nbsp;</p>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Shopping order payments"
          data-amount="<%= @total *100%> "
          data-currency="EUR"
          data-locale="auto"
          ></script>
<% end %>
</div>
  </div>
  </div>
  
<% end %>
