<%= form_for(@shopping_order) do |f| %>
  <% if @shopping_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_order.errors.count, "error") %> prohibited this shopping_order from being saved:</h2>

      <ul>
      <% @shopping_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :payMethod %>
    <%= f.select :payMethod , ["Debit Card", "Credit Card", "Paypal"] %> </div>

    
  <table>
   <% @cart = Cart.find(session[:cart_id])%>
   <% @total=0 %>
    <% @cart.lineitems.each do |litem| %> <tr>
    <td><%= litem.quantity %> &times;</td> 
    <td><%= litem.item.title %></td> 
    <td><%= number_to_currency(litem.item.price, :unit => '€' )  %></td>
    <td><strong> Total: <%= number_to_currency(litem.item.price*litem.quantity, :unit => '€' )  %></strong></td>
    <td><%= link_to  litem, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-times"></i> Remove
    <% end %>
    <% @total = @total + (litem.item.price*litem.quantity) %>
</tr>
    <% end %> </table>
    <div class="field">
    <strong>Order Total: €</strong>
    <%= f.text_field :total , :value => @total ,:readonly => true%>
  </div>
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
