<p id="notice"><%= notice %></p>

<img src="http://res.cloudinary.com/dp20nga5l/image/upload/v1459951250/order_online_fudfae.jpg" />
<h1>Listing Shopping Orders</h1>

<table style="width:90%;">
  <thead>
    <tr>
      <th style="width:20%;">Customer</th>
      <th style="width:20%;">Paymethod</th>
      <th style="width:20%;">Total</th>
      <th style="width:20%;">Currentstatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%if current_user.is_admin? %>
            <p>Administrator View</p>
            <% @shopping_orders.each do |shopping_order| %>
                <tr>
                  <td style="width:20%;"><%= shopping_order.customer_id %></td>
                  <td style="width:20%;"><%= shopping_order.payMethod %></td>
                  <td style="width:20%;"><%= shopping_order.total %></td>
                  <td style="width:20%;"><%= shopping_order.currentStatus %></td>
                  <td style="width:20%;"><div class="btn-group pull-right" style="padding-bottom:10px;">
                  <%= link_to 'Show', shopping_order ,:class => "btn btn-success " %>
                  <%= link_to 'Edit', edit_shopping_order_path(shopping_order) ,:class => "btn btn-primary " %>
                  <%= link_to 'Destroy', shopping_order, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger " %>
                </div>
                </td>
                </tr>
              <% end %>
            <% elsif current_user.is_packer?%>
            <p>Packer</p>
            <% @shopping_orders.each do |shopping_order| %>
              <tr>
                <td style="width:20%;"><%= shopping_order.customer_id %></td>
                <td style="width:20%;"><%= shopping_order.payMethod %></td>
                <td style="width:20%;"><%= shopping_order.total %></td>
                <td style="width:20%;"><%= shopping_order.currentStatus %></td>
                <td style="width:20%;"><%= link_to 'Show', shopping_order ,:class => "btn btn-success pull-right" %></td>
                
              </tr>
            <% end %>
            <% else %>
            <p>Your previous orders</p>

            <% @currentUsersOrders.each do |shopping_order| %>
              <tr>
                <td style="width:20%;"><%= shopping_order.customer_id %></td>
                <td style="width:20%;"><%= shopping_order.payMethod %></td>
                <td style="width:20%;"><%= shopping_order.total %></td>
                <td style="width:20%;"><%= shopping_order.currentStatus %></td>
                
                <td style="width:20%;"><%= link_to 'Show', shopping_order ,:class => "btn btn-success pull-right" %></td>
                
              </tr>
            <% end %>
            <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Shopping order', new_shopping_order_path %>
