<p id="notice"><%= notice %></p>
<%@notifications = Notification.where(toID: current_user.id)%>
<h1>Listing Notifications</h1>

<table style="width:100%;">
  <thead>
    <tr>
      <th>Message</th>
      <th>Regardingid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.message %></td>
        <td><%= notification.regardingID %></td>
        
          <%if !notification.seen? %>
          <td>
        <%= form_for(notification) do |f| %>

  
                    <%= f.hidden_field :seen,  :value => '1' %>
                 
                  
                    <%= f.submit "Dismiss",:class=>"btn btn-default "  %>
                  
                  <% end %>
                </td>
             <%end%>     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
