<div class="col-sm-6">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>
</div>
<div class="col-sm-6">
<strong>User email</strong>:<%= @user.email %><br>
<strong>Name</strong>:<%= @user.name %><br>
<strong>Date od Birth</strong>:<%= @user.date_of_birth %><br>
<strong>Admin</strong>:<%= @user.is_admin %><br>
<strong>Packer</strong>:<%= @user.is_packer %><br>
<strong>Driver</strong>:<%= @user.is_driver %><br>
<strong>Users Delivery Address</strong>:<%= @user.address %><br>
<strong>Distance from WareHouse</strong>:<%= @user.distance_to("DIT Aungier Street Dublin")%><br>
<%if current_user.is_admin? %>
<%= link_to 'Alter User Details', edit_user_path(@user), :class => "btn btn-success" %>
<%end%>
</div>
<div class="col-sm-12">
<div class="col-sm-6 col-sm-offset-3">
<%if !@user.is_packer? && !@user.is_driver?%>
<h1>Shopping orders</h1>
<table>
<% @currentUsersOrders.each do |shopping_order| %>
              <tr class="<%= shopping_order.currentStatus %>">
                <td style="width:20%;"><%= shopping_order.customer_id %></td>
                <td style="width:20%;"><%= shopping_order.payMethod %></td>
                <td style="width:20%;"><%= shopping_order.total %></td>
                <td style="width:20%;"><%= shopping_order.currentStatus %></td>
                
                <td style="width:20%;"><%= link_to 'Display', shopping_order ,:class => "btn btn-success pull-right" %></td>
                
              </tr>
            <% end %>
        </table>
        <%end%>
        

        <%if @user.is_packer%>
        <h1>Packing jobs</h1>
        <table style="width:90%;">
  <thead>
    <tr>
      <th style="width:20%;">Assigned Packer</th>
      <th style="width:20%;">Shoppingorder</th>
      <th style="width:20%;">Order Status</th>
      <th style="width:20%;"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @currentPackingJobs.each do |packing_job| %>
    <% shoppingorder  = ShoppingOrder.find(packing_job.shoppingOrder_id) %>
      
      <tr class="<%= shoppingorder.currentStatus %> <%= packing_job.customer_id %> ">
        <%if  packing_job.customer_id ==0 %>
        <td style="width:20%;">Packing complete</td>
  
            
        <% elsif packing_job.customer_id !=nil %>
        <% user = User.find(packing_job.customer_id)%>
        <td style="width:20%;"><%= user.name %></td>
            <% else %>
            <td style="width:20%;">No Packer Yet</td>
            <% end %>
            
        <td style="width:20%;"><%= packing_job.shoppingOrder_id %></td>
        
        <td style="width:20%;"><%= shoppingorder.currentStatus %></td>
        <td >
          <div class="btn-group pull-right">
        <%= link_to 'Display', packing_job , :class => "btn btn-default" %>
        
      </div>
      </td>
      </tr>
    
    <% end %>
  </tbody>
</table>
        <%end%>
      </div>
      </div>
      