
<div class="col-sm-9">
	<% @categories = Category.all%>
	<div class="col-sm-12">
		<div class="col-sm-4 category-select" style="background-image: url(http://res.cloudinary.com/dp20nga5l/image/upload/v1460985023/retail-products_yr9i2o.jpg);background-size: 100% 100%; height: 150px; color:blue;">
			<p> <a href="/items">All Items</a></p>
		</div>
<% @categories.each do |category| %>
<% @item = Item.where(categoryID: category.id)%>
      <div class="col-sm-4 category-select" style="background-image: url(<%=@item[0].image%>);background-size: 100% 100%; height: 150px; color:blue;">
       <p> <%= link_to category.name , category %></p>
        

       </div>
      
    <% end %>
    </div>
<%if !@items.empty?%>
	<% @items.each do |item| %>
	<% if item.quantity == 0%>
	

	<% else %>
	<h4><%= link_to item.title, item %></h4>
	<div class="col-sm-12" style="border-bottom: 1px solid #eee; padding-bottom: 10px;">
		<div class="col-sm-9">
			<div class="form-group">
				<div class="col-sm-8">
				<img src="<%= item.image %>" style="width:20px; heigth: 20px;">
				<%= number_to_currency(item.price, :unit => '€' ) %> Weight:<%= item.weight %> kg  </div>
				
				
    		
  
<%= form_for(@lineitem) do |f| %>
  

  <div class="field">
    <%= f.hidden_field :item_id, :value =>  item.id   %>
  </div>
  
  
  <div class="col-sm-4">
    <%= f.number_field :quantity, :class => " text-center form-control bfh-number pull-right", :value => 1 ,:min => 0, :max => item.quantity%>
  </div>
  	</div>

	</div>
	<div class="col-sm-3">
	<%= f.submit 'Add to Cart',:class => "btn btn-success pull-right" %>
	</div>
	<% end %>

	</div>
	<%end%>
	<%end%>
	<% else %>
	<h2>Our store is currently empty</h2>
	<% end %>
</div>
<div class="col-sm-3">	
	
	<% if session[:cart_id]!=nil%>
	<h3>Your Current cart</h3>
	<% @cart = Cart.find(session[:cart_id])
	 @total = 0
	  @cart.lineitems.each do |litem| %> 
		
			<p><%= litem.quantity %> &times; <%= litem.item.title %> <%= number_to_currency(litem.item.price, :unit => '€' )  %> <%= link_to  litem, method: :delete, data: { confirm: 'Are you sure?' } do %>
				<i class="fa fa-times "></i> </p>
			<% end %>
			<% @total = @total + (litem.item.price* litem.quantity)%>
		
		<% end %> 
		<hr>

		<h5 class="pull-right">Total in Basket: <strong><%= number_to_currency(@total, :unit => '€' )%></strong></h5>
		
		<div class="btn-group pull-right">
			<%= link_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?', :class => "btn btn-default"   %>
			<%= link_to 'Checkout', new_shopping_order_path, :method => :get, :class => "btn btn-default"   %>
			</div>

			<%else%>
			

<% end %>


</div>

