<table>
	<tr>
		<th style="width:20%; padding-right:15px;">Quantity</th>
		<th style="width:20%; padding-right:15px;">Title</th>
		<th style="width:20%; padding-right:15px;">Price Per Item</th>
		<th style="width:20%; padding-right:15px;">Total Price</th>
	</tr>
<% @cart.lineitems.each do |litem| %> 
	<tr>
		<td><%= litem.quantity %> &times;</td> 
		<td><%= litem.item.title %></td> 
		<td><%= litem.item.title %></td> 
		<td><%= number_to_currency(litem.item.price, :unit => '€' )  %></td>
		<td><%= link_to  litem, method: :delete, data: { confirm: 'Are you sure?' } do %>
			<i class="fa fa-times"></i> Remove
		<% end %>
	</td>
	</tr>
<% end %> 
</table>
<hr>
<div class="btn-group">
<%= link_to "Continue Shopping?", root_path, :method => :get, :class => "btn btn-default"  %>
<%= link_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?', :class => "btn btn-default"   %>
<%= link_to 'Checkout', new_shopping_order_path, :method => :get, :class => "btn btn-default"   %>
</div>

