<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-6">
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image, :class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title , :class => "form-control"%>
  </div>
  <label for="Category">Category</label>
  <% @categories = Category.all%>
  <%= f.collection_select(:categoryID, @categories, :id, :name, :prompt => 'Select') %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description , :class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price , :class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity , :class => "form-control"%>
  </div>
  
    <%= f.hidden_field :locationId ,:readonly => true, :required => true%>
 
  <div class="field">
    <%= f.label :boxId %><br>
    <%= f.number_field :boxId, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :fragile %><br>
    <%= f.check_box :fragile %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight , :class => "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit 'Submit',:class => "btn btn-success pull-right"%>
  </div>
  </div>
  <div class="col-md-6">
    <div class="alert alert-warning">
      <p>Please select shelf where this item will be located by clicking a green X</p>
      <p> To prevent unassigned items submit will not regiester unless location is picked</p>
    </div>
      <%= render 'layouts/shopGridForNewItemOnTheShelf' %>

  </div>
<% end %>

<script  type="text/javascript">
      jQuery(document).ready(function($) {
          $("#item_categoryID").addClass("form-control");
  
        });
   
       </script>
