<p id="notice"><%= notice %></p>

<h1>Listing Shopping Order Comments</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Packingrating</th>
      <th>Packingrating</th>
      <th>Shoppingorderid</th>
      <th>Deliveryrating</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_order_comments.each do |shopping_order_comment| %>
      <tr>
        <td><%= shopping_order_comment.userID %></td>
        <td><%= shopping_order_comment.packingRating %></td>
        <td><%= shopping_order_comment.packingRating %></td>
        <td><%= shopping_order_comment.shoppingOrderID %></td>
        <td><%= shopping_order_comment.deliveryRating %></td>
        <td><%= shopping_order_comment.message %></td>
        <td><%= link_to 'Show', shopping_order_comment %></td>
        <td><%= link_to 'Edit', edit_shopping_order_comment_path(shopping_order_comment) %></td>
        <td><%= link_to 'Destroy', shopping_order_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopping order comment', new_shopping_order_comment_path %>
