<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @shopping_order_comment.userID %>
</p>

<p>
  <strong>Packingrating:</strong>
  <%= @shopping_order_comment.packingRating %>
</p>

<p>
  <strong>Packingrating:</strong>
  <%= @shopping_order_comment.packingRating %>
</p>

<p>
  <strong>Shoppingorderid:</strong>
  <%= @shopping_order_comment.shoppingOrderID %>
</p>

<p>
  <strong>Deliveryrating:</strong>
  <%= @shopping_order_comment.deliveryRating %>
</p>

<p>
  <strong>Message:</strong>
  <%= @shopping_order_comment.message %>
</p>

<%= link_to 'Edit', edit_shopping_order_comment_path(@shopping_order_comment) %> |
<%= link_to 'Back', shopping_order_comments_path %>
