<p id="notice"><%= notice %></p>

<h1>Listing Shipping Manifests</h1>

<table>
  <thead>
    <tr>
      <th>Dateout</th>
      <th>Shoppingorder</th>
      <th>Shippingstatus</th>
      <th>Vanid</th>
      <th>Distance to Travel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_manifests.each do |shipping_manifest| %>
      <tr>
        <td><%= shipping_manifest.dateOut %></td>
        <td><%= shipping_manifest.shoppingOrder_id %></td>
        <td><%= shipping_manifest.shippingStatus %></td>
        <td><%= shipping_manifest.vanID %></td>
        <td><strong><%= shipping_manifest.findDistanceForDelivery(shipping_manifest.id) %><strong></td>
        <%if current_user.is_admin?%>
        <td><%= link_to 'Show', shipping_manifest %></td>
        <td><%= link_to 'Edit', edit_shipping_manifest_path(shipping_manifest) %></td>
        <td><%= link_to 'Destroy', shipping_manifest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping manifest', new_shipping_manifest_path %>
