<p id="notice"><%= notice %></p>

<h1>Listing Shipping Manifests</h1>
<ul class="nav nav-tabs ">
              <li ><a id="old">Shipped out previously</a></li>
              <li class="active"><a id="current">Current</a></li>
              <li><a id="future">Future</a></li>
            </ul>

<table>
  <thead>
    <tr>
      <th>Dateout</th>
      <th>Shoppingorder</th>
      <th>Shippingstatus</th>
      <th class="Packed ready to ship">Vanid</th>
      <th class="Packed ready to ship">Distance to Travel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    

    
      <% @old_shipping_manifests.each do |shipping_manifest| %>
      <tr class="<%= shipping_manifest.shippingStatus %>">
        <td><%= shipping_manifest.dateOut %></td>
        <td class="text-center"><%= shipping_manifest.shoppingOrder_id %></td>
        <td><%= shipping_manifest.shippingStatus %></td>
        <td><%= shipping_manifest.vanID %></td>
        <%if current_user.is_admin?%>
        <td><%= link_to 'Show', shipping_manifest %></td>
        <td><%= link_to 'Edit', edit_shipping_manifest_path(shipping_manifest) %></td>
        <td><%= link_to 'Destroy', shipping_manifest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <%end%>
      
      <% @future_shipping_manifests.each do |shipping_manifest| %>
      <tr class="<%= shipping_manifest.shippingStatus %>">
        <td><%= shipping_manifest.dateOut %></td>
        <td class="text-center"><%= shipping_manifest.shoppingOrder_id %></td>
        <td><%= shipping_manifest.shippingStatus %></td>
        <td><%= shipping_manifest.vanID %></td>
        <%if current_user.is_admin?%>
        <td><%= link_to 'Show', shipping_manifest %></td>
        <td><%= link_to 'Edit', edit_shipping_manifest_path(shipping_manifest) %></td>
        <td><%= link_to 'Destroy', shipping_manifest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <%end%>
      <% @current_shipping_manifests.each do |shipping_manifest| %>
      <tr class="<%= shipping_manifest.shippingStatus %>">
        <td><%= shipping_manifest.dateOut %></td>
        <td class="text-center"><%= shipping_manifest.shoppingOrder_id %></td>
        <td><%= shipping_manifest.shippingStatus %></td>
        <td><%= shipping_manifest.vanID %></td>
        <td><strong><%= shipping_manifest.findDistanceForDelivery(shipping_manifest.id).round(2) %><strong></td>
        <%if current_user.is_admin?%>
        <td><%= link_to 'Show', shipping_manifest %></td>
        <td><%= link_to 'Edit', edit_shipping_manifest_path(shipping_manifest) %></td>
        <td><%= link_to 'Destroy', shipping_manifest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <%end%>
      <% @current_shipping_manifests_assigned.each do |shipping_manifest| %>
      <tr class="<%= shipping_manifest.shippingStatus %>">
        <td><%= shipping_manifest.dateOut %></td>
        <td class="text-center"><%= shipping_manifest.shoppingOrder_id %></td>
        <td><%= shipping_manifest.shippingStatus %></td>
        <td><%= shipping_manifest.vanID %></td>
        <td><strong><%= shipping_manifest.findDistanceForDelivery(shipping_manifest.id).round(2) %><strong></td>
        <%if current_user.is_admin?%>
        <td><%= link_to 'Show', shipping_manifest %></td>
        <td><%= link_to 'Edit', edit_shipping_manifest_path(shipping_manifest) %></td>
        <td><%= link_to 'Destroy', shipping_manifest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <%end%>
  </tbody>
</table>

<br>
<!-- fill the van -->
<p id="notice"><%= notice %></p>

<h1>Assign to vehicle which will perform delivery</h1>

<table>
  <thead>
    <tr>
      <th>Regplate</th>
      <th>Current Load</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vans.each do |van| %>
      <tr>
        <td><%= van.regPlate %></td>
        <td><% @vans_shipping_manifests = ShippingManifest.where(vanID: van.id).where(shippingstatus: ["Packed ready to ship","Shipping"]) 
        counter=0
          @vans_shipping_manifests.each do |shipping_manifest| 
            counter = counter+1
          end
        %>
        <%= counter%> Orders</td>

        <td>
        <%= form_for(van) do |f| %>
          <%= f.hidden_field :regPlate, :value =>  van.regPlate %>
            
              <%= f.submit "Fill the van and Proceed to shipping" , :class => "btn btn-success packing-buttonß"  %>
            
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<script  type="text/javascript">
  jQuery(document).ready(function($) {
      $(".Delivered").addClass("hidden");
      $(".Waiting.to.be.packed").addClass("hidden");
      $( "#old" ).click(function() {
        $(".active").removeClass("active");
        $("#old").parents("li:first").addClass("active");
        $(".Delivered").removeClass("hidden");
        $(".Shipping").addClass("hidden");
        $(".Packed.ready.to.ship").addClass("hidden");
        $(".Being.delivered").addClass("hidden");
        $(".Waiting.to.be.packed").addClass("hidden");
      });
      $( "#current" ).click(function() {
        $(".active").removeClass("active");
        $("#current").parents("li:first").addClass("active");
        $(".Delivered").addClass("hidden");
        $(".Shipping").removeClass("hidden");
        $(".Packed.ready.to.ship").removeClass("hidden");
        $(".Being.delivered").removeClass("hidden");
        $(".Waiting.to.be.packed").addClass("hidden");
      });
      $( "#future" ).click(function() {
        $(".active").removeClass("active");
        $("#future").parents("li:first").addClass("active");
        $(".Shipping").addClass("hidden");
        $(".Delivered").addClass("hidden");
        $(".Packed.ready.to.ship").addClass("hidden");
        $(".Being.delivered").addClass("hidden");
        $(".Waiting.to.be.packed").removeClass("hidden");
      });


      });

  </script>