<p id="notice"><%= notice %></p>

<h1>Listing Shipping Manifests</h1>
<ul class="nav nav-tabs ">
              <li ><a id="old">Shipped out previously</a></li>
              <li class="active"><a id="current">Current</a></li>
              <li><a id="future">Future</a></li>
            </ul>

<table>
  <thead>
    <tr>
      <th>Dateout</th>
      <th>Shoppingorder</th>
      <th>Shippingstatus</th>
      <th>Vanid</th>
      <th>Distance to Travel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_manifests.each do |shipping_manifest| %>
      <tr class="<%= shipping_manifest.shippingStatus %>">
        <td><%= shipping_manifest.dateOut %></td>
        <td><%= shipping_manifest.shoppingOrder_id %></td>
        <td><%= shipping_manifest.shippingStatus %></td>
        <td><%= shipping_manifest.vanID %></td>
        <td><strong><%= shipping_manifest.findDistanceForDelivery(shipping_manifest.id) %><strong></td>
        <%if current_user.is_admin?%>
        <td><%= link_to 'Show', shipping_manifest %></td>
        <td><%= link_to 'Edit', edit_shipping_manifest_path(shipping_manifest) %></td>
        <td><%= link_to 'Destroy', shipping_manifest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<script  type="text/javascript">
  jQuery(document).ready(function($) {
      $(".Shipped").addClass("hidden");
      $(".Waiting.to.be.packed").addClass("hidden");
      $( "#old" ).click(function() {
        $(".active").removeClass("active");
        $("#old").parents("li:first").addClass("active");
        $(".Shipped").removeClass("hidden");
        $(".Packed.ready.to.ship").addClass("hidden");
        $(".Being.delivered").addClass("hidden");
        $(".Waiting.to.be.packed").addClass("hidden");
      });
      $( "#current" ).click(function() {
        $(".active").removeClass("active");
        $("#current").parents("li:first").addClass("active");
        $(".Shipped").addClass("hidden");
        $(".Packed.ready.to.ship").removeClass("hidden");
        $(".Being.delivered").removeClass("hidden");
        $(".Waiting.to.be.packed").addClass("hidden");
      });
      $( "#future" ).click(function() {
        $(".active").removeClass("active");
        $("#future").parents("li:first").addClass("active");
        $(".Shipped").addClass("hidden");
        $(".Packed.ready.to.ship").addClass("hidden");
        $(".Being.delivered").addClass("hidden");
        $(".Waiting.to.be.packed").removeClass("hidden");
      });


      });

  </script>