<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lat %><br>
    <%= f.number_field :lat ,:readonly => true%>
  </div>
  <div class="field">
    <%= f.label :lon %><br>
    <%= f.number_field :lon ,:readonly => true%>
  </div>
  <h3 id="indicator-of-click"></h3>
  <%= render 'layouts/shopGridForNewShelf' %>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
