<!DOCTYPE html>
<html>
<head>
  <title>WareHouse</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WareHouse</a>
    </div>
 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/items">Items</a></li>
        <%if current_user%>
        <li><a href="/shopping_orders">Orders</a></li>
        <%end%>
        <% if session[:cart_id]!=nil%>
        <li><a href="/carts/<%= session[:cart_id]%>">Cart</a></li>
        <%end%>
        
        <%if current_user && current_user.is_admin?%>
        <li><a href="/locations">Shelves</a></li>
        <li><%= link_to "Packing Jobs", packing_jobs_path%></li>
        <li><a href="/shipping_manifests/">Shipping</a></li>
        <li><a href="/vans/">Van</a></li>
         <li><%= link_to "Index of Users", users_path %></li>
        <% elsif current_user && current_user.is_packer?%>
        <li><%= link_to "Packing Jobs", packing_jobs_path%></li>
        <% elsif current_user && current_user.is_driver?%>
        
          <li><a href="/shipping_manifests/">Shipping</a></li>
          <li><a href="/vans/">Van</a></li>

        <%end%>
       
          
        </li>
      



      </ul>
      <div class="btn-group session-control-buttons navbar-right">
        <% if user_signed_in? %> 
          <% @myNotifications = Notification.where(toID: current_user.id).order("created_at DESC")%>
          <% @unseenNotifications = Notification.where(toID: current_user.id).where(seen: 0).count%>
        
          <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="" class="btn btn-default"<% if @unseenNotifications!=0 %> style="color:red;"<%end%>>
            <i class="glyphicon glyphicon-bell"></i><% if @unseenNotifications!=0 %><%= @unseenNotifications%><%end%>
          </a>

          
          <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
            
            <div class="notification-heading">
              <h4 class="menu-title">Notifications</h4>
            </div>
            

<% @myNotifications[0..5].each do |notification| %>
      <div class="notifications-wrapper <%if !notification.seen?%>alert-success<%end%>">
           
            <div class="notification-item <%=notification.id%> ">
                <h4 class="item-title"><%= notification.message%> </h4>
                <%if !notification.seen?%>
                <%= form_for(notification) do |f| %>

  
                    <%= f.hidden_field :seen,  :value => '1' %>
                 
                  
                    <%= f.submit "Dismiss",:class=>"btn btn-default "  %>
                  
                  <% end %>
                  <%end%>
                
                <hr>
              </div>
              </div>
               <script  type="text/javascript">
                  jQuery(document).ready(function($) {
                  <%if notification.message=="Item was reviewed"%>
                  <% @item=Item.find(notification.regardingID)%>
                  $(".<%=notification.id%>").wrap( "<a href='/items/<%=@item.id%>'></a>" );

                  <%elsif notification.message=="New order created" || notification.message=="Shopping Order packed" || notification.message=="Your order is packed and will be shipped shortly"%>
                  <% @shoppingOrder = ShoppingOrder.find(notification.regardingID)%>
                    $(".<%=notification.id%>").wrap( "<a href='/shopping_orders/<%=@shoppingOrder.id%>'></a>" );

                  <%elsif notification.message=="New packing job created"%>
                  <% @packingJob = PackingJob.find(notification.regardingID)%>
                    $(".<%=notification.id%>").wrap( "<a href='/packing_jobs/<%=@packingJob.id%>'></a>" );

                  <%elsif notification.message=="Order ready for delivery"%>
                    $(".<%=notification.id%>").wrap( "<a href='/shipping_manifests/'></a>" );

                  <%elsif notification.message=="Van has been packed"%>
                    $(".<%=notification.id%>").wrap( "<a href='/vans/<%=notification.regardingID%>'></a>" );




                  <%end%>

                    });

                   </script>
        
    <% end %>
          
           

             
              
               
               
            

           
            <li class="divider"></li>
            <a href="/notifications/">
            <div class="notification-footer"><h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div></a>
          
          </ul>
          
        
        <a href="/users/sign_out" class="btn btn-default">Sign out</a>
        <a href="/users/<%= current_user.id %>/edit/" class="btn btn-default">Edit Your profile</a>
        
            <%if current_user.is_admin? %>
            <p>Administrator</p>
            <% end %> 
           
        <% else %>
        

        <a href="/users/sign_in" class="btn btn-default">Sign in</a>
        <a href="/users/sign_up" class="btn btn-warning">Sign up</a>
        <% end %> 


        </div> 
        <div class="search-form-div">
        <%= form_tag(items_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Items by name", :class => "form-control search-text-field" %></div><%= submit_tag "Search", :class => "btn btn-success" %>
          <% end %>
          
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
